<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">質問を投稿します</h1>
     <%= form_tag("/posts/create") do %>
     <div class="form">
       <div class="form-body">
         <% @post.errors.full_messages.each do |message| %>
           <div class="form-error">
             <%= message %>
           </div>
         <% end %>
         <textarea name="content" id="text2"><%= @post.content %></textarea>
         <span class="count">0</span>/1000
         <input type="submit"  value="質問する">
       </div>
     </div>
    <% end %>

  </div>
</div>
